@charset "utf-8";


/* CSS Document */
/* body {
	margin: 0px;
	font-size: 12px;
	font-family: "宋体";
	color: #666;
	background: #FFF !important;
}

div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p
	{
	padding: 0;
	margin: 0;
	border: 0px;
}

img {
	border: 0px;
}

input {
	vertical-align: middle
}

div {
	margin: 0px auto;
} */

/* li {
	list-style-type: none;
	text-align: left;
}

a:link,a:visited,a:active {
	color: #666;
	font-size: 14px;
	text-decoration: none
}

a:hover {
	color: #bc2931;
	text-decoration: underline
} */

/*头部文件*/
/* .header {
	height: auto;
}

.topbar {
	float: left;
	width: 960px;
	height: 30px;
	overflow: hidden;
	background-color: #333;
}

.topbar ul {
	float: right;
	margin-right: 10px;
	margin-top: 8px;
	width: auto;
}

.topbar ul li {
	float: left;
	width: auto;
	margin-right: 10px;
}

.topbar ul li a {
	color: #fff;
}

.charts {
	padding-left: 20px;
	background: url(../images/icon_charts.gif) top left no-repeat;
}

.searchbar {
	float: left;
	width: 960px;
	height: 80px;
	overflow: hidden;
}

.logo {
	float: left;
	margin-top: 8px;
	margin-right: 28px;
	width: 192px;
	height: 65px;
}

.search_box {
	float: left;
	width: 490px;
	margin-right: 10px;
	overflow: hidden;
	margin-top: 10px;
}

.search_input {
	float: left;
	width: 490px;
	height: 40px;
	background-color: #ddd;
}

.ipt_01 {
	float: left;
	width: 450px;
	height: 20px;
	margin-top: 10px;
	margin-left: 10px;
	display: inline;
	margin-right: 5px;
}

.btn_search {
	float: left;
	margin-top: 10px;
}

.search_box ul {
	float: left;
	width: 490px;
	margin-top: 8px;
}

.search_box ul li {
	float: left;
	width: auto;
	padding-right: 8px;
}

.search_box ul li a {
	color: #666;
}

.red {
	color: #c00;
	font-weight: bold;
}

.login_box {
	float: left;
	width: 240px;
	height: 80px;
	overflow: hidden;
	background-color: #eb3736;
}

.login_box table {
	float: left;
	width: 90%;
	margin-top: 5px;
	margin-left: 10px;
	display: inline;
	color: #fff;
}

.login_box table td {
	text-align: left;
}

.login_box table td a {
	color: #ffbcbc;
}

.ipt_02 {
	float: left;
	width: 100px;
	padding: 2px;
	height: 16px;
}

.btn_login {
	width: 48px;
	height: 48px;
	color: #fff;
	font-size: 16px;
	font-family: Microsoft Yahei;
	background-color: #900;
}

.navbar {
	float: left;
	width: 960px;
	height: 36px;
	border-bottom: 2px solid #007eda;
	overflow: hidden;
}

.nav {
	float: left;
	width: 694px;
	height: 36px;
	background-color: #f0f0f0;
	border-left: 1px solid #fff;
	overflow: hidden;
	padding-left: 25px;
}

.nav ul {
	float: left;
	width: 100%;
}

.nav ul li {
	float: left;
	width: auto;
	font-size: 14px;
	font-weight: bold;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 10px;
	height: 26px;
}

.nav ul li a {
	float: left;
	color: #a00;
}

.nav_sele {
	background-color: #007eda;
	color: #fff;
} */

/*网站地图*/
.sitemap {
	width: 920px;
	padding: 20px;
	overflow: hidden;
	margin-top: 65px;
	clear: both;
	background-color: #f0f0f0;
}

.sitemap ul {
	float: left;
	width: 170px;
	margin-left: 10px;
}

.sitemap ul li {
	float: left;
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	color: #666;
}

.sitemap ul li a {
	font-size: 12px;
	color: #666;
	font-weight: normal;
}

/*pony-start*/
.p_order_search {
	float: left;
	width: 740px;
	margin-top: 5px;
	padding-bottom: 5px;
	background: url(../images/dot_01.gif) bottom left repeat-x;
}

.p_order_search h1 {
	float: left;
	width: auto;
	padding: 5px 20px 5px 20px;
	background-color: #007eda;;
	color: #fff;
	font-size: 14px;
}
.p_order_search p {
	float: left;
	width: auto;
	margin-left: 10px;
	margin-top: 5px;
}

.p_ipt_01 {
	width: 110px;
	padding: 3px;
	border: 1px solid #ccc;
	margin-right: 10px;
	vertical-align: middle;
}

.p_btn_search {
	padding: 5px 10px 5px 10px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background-color: #007eda;
}

.p_order_list {
	float: left;
	width: 740px;
	display: table;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-collapse: collapse;
	margin-top: 15px;
}

.p_order_list a {
	color: #005ea8;
}

.p_item {
	width: 140px;
}

.p_item1 {
	width: 110px;
}

.p_gray {
	color: #aaa;
}

.p_order_list td,.p_order_list th {
	padding: 5px 2px 5px 2px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
}

.p_order_list th {
	background-color: #eee;
}

.p_pic_order {
	float: left;
	width: 50px;
	height: 50px;
	border: 1px solid #ccc;
	margin-right: 5px;
	vertical-align: middle;
}
.p_pic_order_small {
	float: left;
	width: 40px;
	height: 40px;
	border: 1px solid #ccc;
	margin-right: 5px;
	vertical-align: middle;
}

.p_itemname {
	float: left;
	width: 80px;
	text-align: left;
	vertical-align: middle;
	line-height: 22px;
}

.p_itemname1 {
	float: left;
	width: 50px;
	text-align: left;
	vertical-align: middle;
	line-height: 22px;
}

.p_total {
	float: left;
	width: 738px;
	border: 1px solid #ccc;
	background-color: #eee;
	height: 30px;
	margin-top: 8px;
}

.p_total p {
	float: right;
	font-size: 14px;
	width: auto;
	line-height: 30px;
	margin-right: 10px;
}

.p_total p span {
	color: #c00;
	font-weight: bold;
}

.p_pageswitch {
	float: left;
	width: auto;
	margin-top: 10px;
}

.p_pageswitch ul {
	float: left;
	width: auto;
}

.p_pageswitch ul li {
	float: left;
	width: auto;
	margin-right: 5px;
	font-weight: bold;
}

.p_pageswitch ul li a {
	font-weight: normal;
}

.p_chart_list {
	float: left;
	width: 900px;
	display: table;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-collapse: collapse;
	margin-top: 15px;
}

.p_chart_list a {
	color: #005ea8;
}

.p_chart_list td,.p_chart_list th {
	padding: 5px 2px 5px 2px;
	border-bottom: 1px solid #ccc;
	text-align: center;
}

.p_chart_list th {
	background-color: #eee;
}

.p_chart_list .p_seleall {
	text-align: left;
	width: 60px;
}

.p_countbtn,.p_countbox,.p_btn_del,.p_modify {
	vertical-align: middle;
	cursor: pointer;
}

.p_countbox {
	width: 30px;
	text-align: center;
	padding: 3px;
	border: 1px solid #ccc;
	margin-left: 5px;
	margin-right: 5px;
	display: inline;
}

.p_btn_del {
	padding: 3px 10px 3px 10px;
	border: 1px solid #ccc;
	background-color: #eee;
	margin-right: 10px;
	color: #666;
}

.p_chart_list .p_namecol {
	text-align: left;
}

.p_l {
	float: left;
}

.p_r {
	float: right;
	width: auto;
	line-height: 24px;
}

.p_r span {
	font-weight: bold;
	color: #c00;
}

.p_chartbottom {
	float: left;
	width: 740px;
	margin-top: 10px;
}
.p_chartbottom1 {
	float: left;
	width: 840px;
	margin-top: 10px;
}

.p_btn_go_on {
	float: left;
	padding: 5px 10px 5px 10px;
	border: 1px solid #ccc;
	background-color: #eee;
	margin-right: 10px;
	color: #000;
}

.p_chartbottom span {
	float: right;
	width: auto;
	padding: 10px 20px 10px 20px;
	background-color: #007eda;
}

.p_chartbottom span a {
	font-size: 20px;
	font-family: Microsoft Yahei;
	color: #fff;
}

#p_two_dim_sheet {
	display: none;
	width: 700px;
	height: 750px;
	border: 2px solid #ccc;
	background-color: #fff;
}

.p_sheetitle {
	float: left;
	width: 100%;
	height: 30px;
	background-color: #eee;
	border-bottom: 2px solid #c00;
}

.p_sheetitle h1 {
	float: left;
	width: auto;
	margin-left: 10px;
	display: inline;
	font-size: 14px;
	margin-top: 6px;
}

.p_closesheet {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}

.p_definetable {
	float: left;
	width: 100%;
	display: table;
}

.p_definetable td {
	padding: 3px;
	text-align: left;
}

.p_definetable .p_shr {
	text-align: right;
}

.p_sheetipt_1 {
	padding: 3px;
	width: 65px;
	border: 1px solid #ccc;
}

.p_btnaxis {
	float: left;
	margin-left: 300px;
	display: inline;
	padding: 5px 10px 5px 10px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background-color: #c00;
}

.p_sheetablebox {
	/* float: left; */
	width: 700px;
	/* height: 500px; */
	margin-left: 5px;
/* 	margin-bottom: 100px; */
	display: inline;
}

.p_label {
	padding: 3px 10px 3px 10px;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
	width: auto;
	display: inline;
}

.p_sheetable {
	float: left;
	/* width:660px; */
	display: table;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-collapse: collapse;
	margin-left: 15px;
	margin-bottom: 20px;
}

.p_sheetable td,.p_sheetable th {
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}

.p_sheetable th {
	background-color: #eee;
}

.p_sheetable td {
	
}

.p_ipt_sheetable {
	width: 60px;
	border: 0px;
	text-align: center;
	font-size: 10px;
	line-height:20px;
}

.p_sheetaccess {
	width: 100%;
	margin-top: 30px;
}

.p_btnaccess {
	padding: 3px 10px 3px 10px;
	background-color: #007eda;
	font-weight: bold;
	color: #fff;
	vertical-align: middle;
	padding-top: 6px;
	margin-left: 10px;
	margin-right: 5px;
	display: inline;
}

.p_orderapp {
	float: left;
	width: 100%;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	display: table;
	border-collapse: collapse;
	margin-top: 10px;
}

.p_orderapp td {
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	vertical-align: top;
}

.p_ordertitle {
	width: 120px;
}

.p_ordertitle h1 {
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: #000;
	line-height: 28px;
}

.p_orderapp ul {
	float: left;
	width: 100%;
}

.p_orderapp ul li {
	float: left;
	width: 100%;
}

.p_custname {
	float: left;
	width: 100px;
	padding: 10px;
}

.p_custaddress {
	float: left;
	width: auto;
	padding: 10px;
}

.p_btn_address {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	display: inline;
	padding: 5px;
	background-color: #ff8400;
	font-weight: bold;
	margin-top: 10px;
	font-size: 12px;
	color: #fff;
	margin-bottom: 10px;
}

.p_orderapp td p {
	float: left;
	width: 100%;
	clear: both;
	line-height: 24px;
	padding-left: 10px;
}

.p_ordertable {
	float: left;
	width: 100%;
	display: table;
	border-collapse: collapse;
}

.p_ordertable th,.p_ordertable td {
	padding: 5px 5px 5px 5px;
	border-bottom: 1px solid #ccc;
	border-right: none;
	text-align: center;
	color: #000;
}

.p_ordertable th {
	padding: 5px 5px 5px 5px;
	font-weight: normal;
	background-color: #eee;
}

.p_ordertable td {
	padding: 15px 5px 5px 5px;
}

.p_ordertable td img {
	width: 50px;
	height: 50px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}

.p_ordertable td span {
	text-align: center;
	width: 100%;
	display: block;
	line-height: 20px;
}

.p_ordertable td p {
	text-align: left;
	width: 100%;
	line-height: 20px;
}

.p_ordertable td p a {
	color: #005aa8;
}

.p_greenbg {
	background-color: #2cbf01;
	color: #fff;
}

.p_ordertext {
	text-align: left;
	/* width:300px; */
}

.p_ordertext a {
	color: 005aa8;
}

.p_ordertable .p_ordertotal {
	text-align: right;
	font-size: 14px;
}

.p_ordertable .p_red {
	width: auto;
	display: inline;
	color: #f00;
	font-weight: bold;
}

.p_orderaddition {
	float: left;
	width: 600px;
	margin-top: 10px;
	margin-left: 10px;
	display: inline;
	margin-bottom: 10px;
}

.p_orderaddition h1 {
	float: left;
	width: 100%;
	text-align: left;
	font-size: 14px;
	line-height: 28px;
}

.p_iptaddition {
	float: left;
	width: 400px;
	border: 1px solid #ccc;
}

.p_orderbox {
	float: left;
	width: 738px;
	border: 1px solid #ccc;
	margin-top: 10px;
	padding-bottom: 20px;
}

.p_orderbox h1 {
	width: 728px;
	padding-left: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
	color: #000;
}

.p_green {
	color: #139f00;
}

.p_gap {
	margin-top: 20px;
}

.p_ga .p_gap1 {
	margin-bottom: 20px;
	color: #c00;
	font-size: 14px;
}

.p_ga .p_gap2 {
	margin-bottom: 20px;
	color: #c00;
	font-size: 14px;
	margin-left: 90px;
}

.p_orderbox p {
	float: left;
	width: 700px;
	margin-left: 20px;
	display: inline;
	text-align: left;
	line-height: 24px;
}

.p_detable {
	float: left;
	width: 700px;
	display: inline-table;
	margin-left: 20px;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-collapse: collapse;
	text-align: center;
}

.p_detable td,.p_detable th {
	border-bottom: 1px solid #ccc;
	padding: 7px;
}

.p_detable td a {
	color: #004c90;
}

.p_orderbox .p_detable th {
	background-color: #eee;
	font-weight: normal;
}

.p_orderbox .p_totalcount {
	text-align: right;
	font-size: 14px;
	line-height: 28px;
}

.p_red2 {
	color: #f00;
	font-weight: bold;
}

.p_order_list .p_scoretext {
	text-align: left;
	width: 300px;
}

.p_scorepic {
	width: 50px;
	height: 50px;
	border: 1px solid #ccc;
}

.p_star {
	width: 21px;
	height: 21px;
	cursor: pointer;
}

.p_scorestar {
	float: center;
	display: inline;
	width: 105px;
}

.p_scorestar li {
	float: left;
	width: 21px;
}

.p_btn_submit {
	margin: 0px auto;
	padding: 5px 10px 5px 10px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background-color: #c00;
	margin-top: 10px;
}

.p_operbtn {
	float: left;
	width: 728px;
	margin-top: 10px;
	padding-bottom: 10px;
}

.p_operbtn span {
	float: right;
	width: auto;
	padding: 10px 20px 10px 20px;
	margin-bottom: 10px;
	margin-right: 10px;
	background-color: #007eda;
}

.p_operbtn span a {
	font-size: 20px;
	font-family: Microsoft Yahei;
	color: #fff;
}

.pop_payType {
	display: none;
	width: 300px;
	height: 200px;
	padding: 5px;
	background-color: #fff;
	overflow: hidden;
}

.pop_payType h3 {
	float: left;
	width: 290px;
	font-size: 14px;
	padding-left: 10px;
	line-height: 28px;
	font-weight: normal;
	font-family: Microsoft Yahei;
	color: #fff;
	background-color: #007eda;
}

.pop_payhint {
	display: none;
	width: 400px;
	height: 300px;
	padding: 5px;
	background-color: #fff;
	overflow: hidden;
}

.pop_payhint h1 {
	float: left;
	width: 390px;
	font-size: 14px;
	padding-left: 10px;
	line-height: 28px;
	font-weight: normal;
	font-family: Microsoft Yahei;
	color: #fff;
	background-color: #007eda;
}

.pop_paytxt {
	float: left;
	margin-top: 20px;
	width: 100%;
	height: 200px;
	overflow: hidden;
}

.pop_paytxt p {
	float: left;
	width: 100%;
	margin-left: 20px;
	display: inline;
	line-height: 24px;
	text-align: left;
	color: #666;
}

.pop_paybtn {
	float: left;
	width: 100%;
}

.pop_btn_1 {
	padding: 4px;
	background-color: #007eda;
	color: #fff;
	font-size: 12px;
	margin-left: 5px;
	margin-right: 5px;
	display: inline;
}

.pop_btn_2 {
	padding: 4px;
	background-color: #007eda;
	color: #fff;
	font-size: 12px;
	margin-left: 5px;
	margin-right: 5px;
	display: inline;
}

.lh24 {
	line-height: 24px;
	padding-left: 15px;
}

.padb15 {
	padding-bottom: 15px;
}

.padt15 {
	padding-top: 15px;
}

.g_gray {
	color: #aaa8a9;
}

.g_red,.g_red a {
	font-size: 12px;
	color: #007eda;
}

.g_blue,.g_blue a {
	font-size: 12px;
	color: #005ea6;
}

.biaoge {
	margin: 10px auto 15px auto;
	clear: both;
	border: 1px solid #ccc;
	border-bottom: 0px;
	line-height: 30px;
	text-align: center;
}

.biaoge thead td,.biaoge tbody td {
	border-bottom: 1px solid #ccc;
}

.biaoge1 {
	border-collapse: collapse;
	margin: 10px auto 15px auto;
	clear: both;
	line-height: 30px;
	text-align: center;
}

.biaoge1 td {
	border: #ccc solid 1px;
}

.biaoge2 {
	border-collapse: collapse;
	margin: 15px auto;
	clear: both;
	line-height: 20px;
}

.biaoge2 td {
	/**border: #ccc solid 1px;**/
	background:#fff;
	padding: 5px;
}

.biaoge3 {
	border-collapse: collapse;
	margin: 15px 0;
	clear: both;
	line-height: 20px;
}

.biaoge3 td {
	border: #fff solid 1px;
	padding: 5px;
}

.sendsms {
	width: 370px;
	height: auto;
	margin: 0 auto;
	margin-top: 20px;
	line-height: 24px;
}

.sendsms_left {
	float: left;
	width: 70px;
	height: auto;
}

.sendsms_right {
	float: right;
	width: 300px;
	height: auto;
}

.sendsms p {
	margin-bottom: 10px;
}

.sendsms .input1 {
	width: 290px;
	height: 24px;
	border: 1px solid #ccc;
}

.sendsms .input2 {
	width: 290px;
	height: 124px;
	border: 1px solid #ccc;
}

.sms1 {
	margin: 15px auto;
	height: auto;
	background-image: url(../images/background_bg3.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
	padding-bottom: 5px;
	overflow: auto;
}

.sms1_left {
	float: left;
	height: auto;
	padding-left: 5px;
}

.sms1_left img {
	border: 1px solid #ccc;
}

.sms1_right {
	float: right;
	height: auto;
	padding-top: 25px;
	padding-right: 35px;
}

.return_left {
	float: left;
	height: auto;
}

.return_right {
	float: right;
	height: auto;
}

.return_input {
	width: 112px;
	height: 24px;
	border: 1px solid #ccc;
}

.return_left h1 {
	width: auto;
	padding: 5px 20px 5px 20px;
	background-color: #007eda;
	color: #fff;
	font-size: 14px;
}

.return_left h1 a {
	color: #fff;
	font-size: 14px;
}

.g_tc {
	text-align: center;
}

.anniu a {
	padding: 5px 10px;
	background: #f0f0f0;
	border: 1px solid #ccc;
}

.order_m {
	background: #f0f0f0;
	line-height: 28px;
	border: 1px solid #ccc;
	margin: 15px auto;
	padding-left: 15px;
}

.modify {
	line-height: 24px;
	padding-left: 5px;
	margin-top: 15px;
}

.modify_input {
	color: #fff;
	font-weight: bold;
	background: #007eda;
	width: 63px;
	height: 28px;
}

.modify_input1 {
	color: #fff;
	font-weight: bold;
	background: #bdbdbd;
	width: 63px;
	height: 28px;
}

.modify_input2 {
	color: #fff;
	font-weight: bold;
	background: #007eda;
	padding: 0 20px;
	height: 28px;
}

.address {
	padding-left: 10px;
	padding-top: 5px;
}

.address_input {
	width: 500px;
	height: 20px;
	border: 1px solid #ccc;
}

.modify_pwd
{
	width: 210;
	height: 20px;
	border: 1px solid #ccc;
}

.address_input1 {
	width: 300px;
	height: 20px;
	border: 1px solid #ccc;
}

/*底部文件*/
.bottom {
	width: 960px;
	margin-top: 10px;
}

.bottom p {
	width: 960px;
	text-align: center;
	color: #666;
	line-height: 28px;
}

.bottom p a {
	color: #666;
}

.bottom p img {
	margin-left: 10px;
	margin-right: 10px;
	display: inline;
}

.order_message {
	width: 320px;
	height: 60px;
	border: 1px solid #ccc;
}

.bread {
	width: 1200px;
	line-height: 36px;
	margin:0 auto;
}

.content {
	width: 1200px;
	height: auto;
	overflow: auto;
	margin:0 auto;
}

.content .left {
	width: 200px;
	height: auto;
	float: left;
}

.content .right {
	width: 990px;
	height: auto;
	float: right;
	overflow: hidden;
}

.titlered {
	line-height: 32px;
	background: #007eda;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	padding-left: 15px;
}

.titlelist {
	padding: 15px;
	height: auto;
	border: 1px solid #ccc;
	background: #f0f0f0;
}

.titlelist li {
	line-height: 28px;
	background-image: url(../images/background_bg1.jpg);
	background-repeat: no-repeat;
	background-position: right center;
}

.titlegray {
	line-height: 34px;
	/**background: #f0f0f0;**/
	border-bottom: 2px solid #007eda;
	padding-left: 15px;
	font-size: 14px;
	font-weight: bold;
	color: #676767;
}

.inquiryp {
	background-image: url(../images/inquiry_p.png);
	padding-left: 15px;
	font-size: 14px;
	font-weight: bold;
}


.contentinquiry {
	width: 1060px;
	height: auto;
	overflow: auto;
}

.contentinquiry .right {
	width: 840px;
	height: auto;
	float: right;
	overflow: hidden;
}

.contentinquiry .left {
	width: 200px;
	height: auto;
	float: left;
}

.p_inquiry_list {
	float: left;
	width: 840px;
	display: table;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-collapse: collapse;
	margin-top: 15px;
}

.p_inquiry_list a {
	color: #005ea8;
}
.p_inquiry_list td,.p_inquiry_list th {
	padding: 5px 2px 5px 2px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
}
.p_inquiry_list th {
	background-color: #eee;
}
.p_inquiry_list .p_scoretext {
	text-align: left;
	width: 300px;
}

