
/* 内容部分 */
.content .left {
  width: 218px;
  border: 1px solid #ccc;
   overflow:hidden; position: relative;
   height: 614px;
}
.content .left .box {
   height: 620px;
}
.content .left .box .list {
  margin-bottom: 5px;
}
.content .left .box .list p {
  width: 100%;
  height: 34px;
  line-height: 34px;
  border: 1px solid #ccc;
  border-width: 1px 0 1px 0;
}
.content .left .box .list p i {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin: 0 10px 0 12px;
  background: url("../images/jpselect.png");
  cursor: pointer;
}
.content .left .box .list p i.add {
  background-position: 0 -19px;
}
.content .left .box .list a.active{
  font-weight: bold;
  color:#0093ff;
}
.content .left .box .list ul {
  padding-left: 35px;
}
.content .left .box .list ul li {
  line-height: 34px; cursor: pointer;
}
.content .left .box .list ul li:hover{color:#0093ff; }
.content .left .box .list ul li.on{
  color:#0093ff;
}
.content .right {
  width: 960px;
}
.content .right .title {
  width: 100%;
  height: 124px;
  border: 1px solid #ccc;
}
.content .right .title img {
  display: block;
  width: 100%;
  height: 100%;
}

.content .right .ppCon{
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
}
.content .right .ppCon span {
  color: #000;
  font-size: 16px;
  margin:0 10px;
  font-weight: lighter;
}
.content .right .calssify span.xx{ float: left; font-size: 16px; font-weight: bold; height: 42px; line-height: 42px;}
.content .right .calssify .jj_options{ float:right; width: 900px; margin-bottom: 10px;}
.content .right .calssify .jj_options a {
  display: inline-block;
  min-width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ccc;
  margin-right: 10px;
  font-size: 14px;
  background: #e3e3e3;
  margin-bottom: -1px;
}
.content .right .calssify .jj_options a.active {
  background: #0093ff;
  color: #fff;
}
.content .right .calssify .jj_options a:hover {
  text-decoration: none;
}
.content .right .calssify .jj_info{
  /* // margin-top:20px; */
}
.content .right .calssify .jj_info table {
  text-align: center;
  border-color: #999;
}
.content .right .calssify .jj_info table th {
  text-align: center;
  height: 42px;
  background: #e3e3e3;
  font-size: 14px;
}
.content .right .calssify .jj_info table td {
  height: 48px;
  font-size: 16px;
}
.content .right .calssify .jj_info table td span {
  color: #0093ff;
  font-size: 18px;
}
.content .right .calssify .jj_info table td p {
  width: 110px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #e3e3e3;
  margin: 0 auto;
  font-size: 16px;
}
.content .right .calssify .jj_info table td p.btn {
  cursor: pointer;
}
.content .right .calssify .jj_info table td p.on {
  background: #0093ff;
  color: #fff;
}
.content .right p.notice {
  font-size: 14px;
  color: #666;
  height: 30px;
  line-height: 30px;
}
.content .right .select {
  width: 100%;
}
.content .right .select .list {
  width: 100%;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #ccc;
  position: relative;
  overflow: hidden;
}
.content .right .select .list span {
  font-size: 14px;
  font-weight: bold;
  margin-left: 25px;
}
.content .right .select .list .options {
  margin-left: 135px;
  width: 80%;
  overflow: hidden;
}
.content .right .select .list .options a {
  margin: 0 15px;
  font-size: 14px;
  display: inline-block;
}
.content .right .select .list .options a:hover{ color:#0093ff }
.content .right .select .list .options a.on {
  color: #0093ff;
}
.content .right .select .list i {
  position: absolute;
  right: 10px;
  top: 13px;
  width: 22px;
  height: 22px;
  background: url("../images/jjselect.png") 4px -137px no-repeat;
  cursor: pointer;
}
.content .right .select .list.list_half {
  width: 50%;
  float: left;
}
.content .right .select .list.all {
  height: auto;
}
.content .right .select .list.all .line {
  border: 2px solid #ccc;
}
.content .right .select .list.all .line i {
  background-position: 4px -184px;
}
.content .right .select .box {
  overflow: hidden;
}
.content .right .select .box .options {
  width: 60%;
}
.content .right .cond {
  width: 100%;
  height: 45px;
  line-height: 45px;
  background: #eee;
  border-bottom: 1px solid #999;
}
.content .right .cond span.cond_title {
  margin-left: 25px;
}
.content .right .cond .con {
  margin-left: 35px;
}
.content .right .cond .con span {
  display: inline-block;
  vertical-align: middle;
  padding: 0 35px 0 15px;
  color: #fff;
  font-size: 14px;
  background: #999;
  height: 25px;
  line-height: 25px;
  position: relative;
  margin-right: 10px;
}
.content .right .cond .con span i {
  position: absolute;
  right: 15px;
  top: 8px;
  width: 6px;
  height: 8px;
  background: url("../images/jpselect.png") 0 -205px;
  cursor: pointer;
}
.content .right .cond span.del {
  margin-right: 22px;
  font-size: 14px;
  cursor: pointer;
}
.content .right .filter {
  width: 100%;
  border-left: 1px solid #ccc;
}
.content .right .filter a {
  float: left;
  height: 26px;
  text-align: center;
  line-height: 26px;
  border: 1px solid #ccc;
  margin-left: -1px;
  padding: 2px 20px;
  font-size: 14px;
}
.content .right .filter a.active {
  background: #0093ff;
  color: #fff;
}
.content .right .filter a:hover {
  text-decoration: none;
}
.content .right ul.filter_con {
  width: 100%;
}
.content .right ul.filter_con li {
  width: 320px;
  float: left;
}
.content .right ul.filter_con li .con {
  width: 310px;
  margin: 20px auto;
}
.content .right ul.filter_con li .con a:hover{ color: #0093ff}
.content .right ul.filter_con li .con img {
  display: block;
  width: 100%;
  height: 160px;
}
.content .right ul.filter_con li .con span {
  display: block;
  width: 100%;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  text-align: center;
}
.content .right ul.filter_con li .con p {
  display: block;
  line-height: 25px;
  text-align: center;
  font-size: 14px;
}
.content .right ul.filter_con li .con p em {
  color: #0093ff;
}
.content .right ul.filter_con li .con .cart {
  margin-top: 10px;
}
.content .right ul.filter_con li .con .cart .jj {
  float: left;
  width: 115px;
  margin: 2px 0 0 45px;
}
.content .right ul.filter_con li .con .cart .jj i {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  background: url("../images/jjselect.png") 0 -66px;
  margin-top: -3px;
  cursor: pointer;
}
.content .right ul.filter_con li .con .cart .jj i.plus {
  background-position: 0 -92px;
}
.content .right ul.filter_con li .con .cart .jj input {
  width: 40px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  margin: 0px 5px;
  border: 1px solid #ccc;
}
.content .right ul.filter_con li .con .cart a.add_cart {
  float: left;
  width: 106px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background: #0093ff;
  border-radius: 3px;
  margin-left: 5px;
  font-size: 14px;
}
.content .right ul.filter_con li .con .cart a.add_cart i {
  display: inline-block;
  vertical-align: middle;
  width: 21px;
  height: 17px;
  background: url("../images/jjselect.png") 0 -36px;
  margin: -2px 3px 0;
  font-size: 14px;
}
.content .right ul.filter_con li .con .cart a.add_cart.hide {
  text-decoration: none;
  background: #e3e3e3;
  color: #333;
}
.content .right ul.filter_con li .con .cart a.add_cart.hide i {
  background-position: 0 0;
}
.flyer-img {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  z-index: 1001;
}
.content .but{
  float: left; width: 100%;
}
.content .but a{
  display:block; width: 130px; height: 40px; margin:40px auto; line-height: 40px; text-align: center; background: #0093ff; color: #fff;
}

.calssify2{ position: fixed; top:0; display: none; z-index: 1000; background: #fff; width: 960px;}

.fahuofang{width:100%; padding: 10px 0 0; display: none}
.fahuofang p{line-height: 20px; font-size: 12px; color: #999; width: 50%; float: left;}
.fahuofang p.name{color: #666; line-height: 25px; font-size: 14px; width: 100%;}
.fahuofang p.name span{font-weight: bold;}

/*拼单镜架选择列表*/
.content .right ul.filter_con li .con .cart a.phh_select {
  float: left;
  width: 106px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background: #0093ff;
  border-radius: 3px;
  margin-left: 5px;
  font-size: 14px;
  text-align:center;
}
.content .right ul.filter_con li .con .cart a.phh_select.hide {
  text-decoration: none;
  background: #e3e3e3;
  color: #333;
}
.content .right ul.filter_con li .con .cart a.phh_select.hide i {
  background-position: 0 0;
}
.selected{height:50px; line-height:50px; font-size:14px;}
.selected .con em{color: #f00;}
.selected .con a{display: inline-block; vertical-align: middle; width:80px; height:30px; margin-left: 15px; line-height: 30px; text-align: center;background: #ccc;}
