@CHARSET "UTF-8";
/*css meneame style pagination*/
div #meneame {
    clear:both;font-size: 80%;color: #ff6500; padding-top: 10px;font-family:Verdana; font-size:14px;display:inline-block;width:auto;float:right;
}
div #meneame a {
    border-right: #ff9600 1px solid; padding-right: 7px; background-position: 50% bottom; border-top: #ff9600 1px solid; padding-left: 3px; padding-bottom: 5px; border-left: #ff9600 1px solid; color: #ff6500; margin-right: 3px; padding-top: 6px; border-bottom: #ff9600 1px solid; text-decoration: none
}
div #meneame a:hover {
    border-right: #ff9600 1px solid; border-top: #ff9600 1px solid; background-image: none; border-left: #ff9600 1px solid; color: #ff6500; border-bottom: #ff9600 1px solid; background-color: #ffc794
}
div #meneame a:active {
    border-right: #ff9600 1px solid; border-top: #ff9600 1px solid; background-image: none; border-left: #ff9600 1px solid; color: #ff6500; border-bottom: #ff9600 1px solid; background-color: #ffc794
}
div #meneame span.current {
    border-right: #ff6500 1px solid; padding-right: 7px; border-top: #ff6500 1px solid; padding-left: 7px; font-weight: bold; padding-bottom: 5px; border-left: #ff6500 1px solid; color: #ff6500; margin-right: 3px; padding-top: 1px; border-bottom: #ff6500 1px solid; background-color: #ffbe94
}
div #meneame span.disabled {
    border-right: #ffe3c6 1px solid; padding-right: 7px; border-top: #ffe3c6 1px solid; padding-left: 7px; padding-bottom: 5px; border-left: #ffe3c6 1px solid; color: #ffe3c6; margin-right: 3px; padding-top: 1px; border-bottom: #ffe3c6 1px solid
}
div #meneame span{float: left}
#meneame .current{width:24px;height:24px;padding:0!important;display:block;float:left;text-align:center;line-height:22px;}

#meneame .disabled{display:block;width:60px;height:24px;padding:0!important;float:left;text-align:center;line-height:22px;}