*{ 
margin:0; 
padding:0; 
} 

body{ 
background-color:#fff; font-family:arial,sans-serif;
}
ul li {list-style:none;}
a{text-decoration: none;cursor:pointer;}
.clear{ clear:both;} 

img{ font-size:0px;vertical-align: bottom; border:0px;}

/*资讯头部*/
.zixun_box{border-bottom: 1px solid #f0f0f0;}
.zixun{width:1200px; margin:0px auto; height:55px; line-height:55px; color:#000;}
.zixun img{width:100px; display:block; float:left;margin-top: 7px;margin-right: 20px;}
.zixun ul li{float:left; width:150px; text-align:center;cursor: pointer;}
.zixun ul li a{color:#333; font-size:18px;}
.zixun ul li a:hover{color:#3a76b9;}
.zixun ul .zixun_dangqian{background:#3a76b9;}
.zixun ul .zixun_dangqian a{color:#fff;}
.zixun ul .zixun_dangqian a:hover{color:#fff;}
/*资讯内容*/
.info_box{width:1200px; margin:0 auto; margin-top:20px;}
.info_left{float:left; width:800px; height:1000px;}
.info_right{float:right;}

.big_content{position:relative;}
.big_content img{width:800px; height:450px; cursor:pointer;}
.big_content_font{position:absolute; bottom:0px; left:0px;width:800px; height:80px;padding-top: 10px; background:rgba(0, 0, 0, 0.48);}
.big_content_font a{font-size:22px; color:#fff; line-height:40px;margin-left: 30px; margin-top:20px;}
.big_content_font p{font-size:18px; color:#fff; line-height:30px;margin-left: 30px;}


.xiao_content_left{float:left;}
.xiao_content_left img{ width:220px; height:140px;}
.xiao_content_right{float:left;margin-top: 20px; margin-left:20px;}
.xiao_content_right a{font-size:18px; line-height:40px; color:#333; font-weight:500;}
.xiao_content_right p{ font-size:14px; color:#999; line-height:30px;}
.xiao_content_right a:hover{color:#3a76b9;}
.info_left ul li{ border-bottom:1px solid #f0f0f0;}

.get_mod_more{    height: 60px;
    width: 100%;
    line-height: 60px;
    color: #bbb;
    font-size: 16px;
	border: 1px solid #f0f0f0;
	margin-bottom: 60px; text-align:center; font-size:14px; 
	margin-top:20px; cursor:pointer;}
.get_mod_more:hover{background:#fafafa; color:#999999; border:1px solid  #fafafa;}

/*右边*/
.topic-title{height: 50px;line-height: 50px;background-color: #3a76b9;color: #fff;width: 380px;}
.topic-title h2	{font-size: 20px;font-weight: 400;float:left; display:block;margin-left: 20px;}
.topic-title a{color: #BCDCFF;float:right; display:block; margin-right:10px; cursor:pointer;}


.info_right ul li{border-bottom: 1px solid #f0f0f0;overflow: hidden; background:#fafafa;}
.info_right ul li img{width:300px; height:169px; cursor:pointer;}
.info_rightullia{display:block;margin:20px 40px 0px 40px;line-height:30px; font-size:16px;width:300px; color:#333;}
.info_rightullia:hover{color:#3a76b9;}
.info_right ul li p{display:block;margin:20px 40px; line-height:30px; font-size:14px;width:300px; color:#bbb; margin:10px 40px;}

/*图片放大*/
.xiao_content_left, .big_content, .pic{
	overflow: hidden;
	display: inline-block;
	-webkit-animation: anima 2s;
	-moz-animation: anima 2s;
	-o-animation: anima 2s;
	-ms-animation: anima 2s;
	animation: anima 1s;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility:hidden;
	backface-visibility: hidden;
}
.xiao_content_left{width: 220px;height:140px;  margin: 20px 0px;}
.topic-zhengwen2 .pic{width:100%;overflow: hidden;padding: 10px 0;margin: 0;}
.pic-image {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	cursor:pointer;
}
.pic-image:hover{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1)
}

.pic-image {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease
}

.zixun img{cursor: pointer;}

.pic{margin: 10px 40px;}