
.bread {
    line-height: 45px;
    font-size: 14px;
}

.content .left {
    width: 175px;
}
.content .left ul {
    margin-top: 20px;
}
.content .left ul li {
    line-height: 28px;
    font-size: 14px;
}
.content .left ul li.name {
    font-size: 15px;
    font-weight: bold;
}
.content .left ul li span {
    display: block;
    padding-left: 10px;
    font-size: 16px;
    color: #0093ff;
}
.content .right {
    width: 1025px;
}
.content .right h3 {
    line-height: 60px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
.content .right .select .one {
    width: 405px;
}
.content .right .select .single {
    height: 40px;
    line-height: 30px;
}
.content .right .select .single span.info {
    float: left;
    width: 115px;
    font-size: 14px;
}
.content .right .select .single .rili_box {
    float: left;
    width: 175px;
    position: relative;
    border: 1px solid #b0a296;
}
.rili_box i {
    position: absolute;
    width: 23px;
    height: 23px;
    background: url("../../skuimage/rili.png");
    right:8px;
    top: 1px;
}
.p_countbox_head{ height:23px;}
.rili_box input{
    height:23px;
}
.content .right .select .single input.runcode {
    padding-left: 10px;
    width: 134px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border: none;
}
.content .right .select .three .single {
    margin-top: 42px;
}
.content .right .select .three .single span.info {
    width: 90px;
}
.content .right .select .three a.look {
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background: #0093ff;
    float: right;
    margin-top: 40px;
}
.content .right .con {
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
}
.content .right .con table.title tr {
    background: #eee;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
}
.content .right .con .list table tr {
    height: 80px;
    text-align: center;
    font-size: 14px;
}
.content .right .con .list table tr td {
    height: 80px;
}
.content .right .con .list table tr td .box {
    width: 100%;
}
.content .right .con .list table tr td .box span {
    display: block;
    font-size: 12px;
}
.content .right .con .list table tr td .box span.mon {
    font-size: 14px;
}
.content .right .con .list table tr td .box a {
    display: block;
}
.content .right .con .list table tr td .box a.deg {
    color: #0093ff;
}
.content .right .con .list table tr td img {
    float: left;
    width: 155px;
    height: 80px;
}
.content .right .con .list table tr td span.name {
    float: left;
    width: 230px;
    line-height: 80px;
    margin-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}
.content .right .con .list .bot {
    border: 1px solid #ccc;
    border-width: 0 1px 0 1px;
    height: 35px;
}
.content .right .con .list .bot p {
    float: right;
    margin-right: 30px;
    line-height: 35px;
    font-size: 14px;
}
.content .right .con .list .bot p span {
    margin-left: 25px;
}

select
{
    width:120px;
    height:30px;
}
.select_box {
    font-size: 14px;
    float: left;
    width: 120px;
    position: relative;
}
.select_showbox {
    border: 1px solid #b0a296;
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    background: url("../../skuimage/down.png") no-repeat 80px 0;
}
.select_option {
    border: 1px solid #b0a296;
    border-top: none;
    display: none;
    position: absolute;
    left: 0;
    top: 30px;
    width: 118px;
    background: #fff;
    z-index: 10000;
}
.select_option li {
    padding-left: 15px;
}
.select_option li.selected {
    background-color: #F3F3F3;
    color: #999;
}
.select_option li.hover {
    background: #7b6959;
    color: #fff;
}

.biaoge2 td
{
    float: left;
    width: 115px;
    height:45px;
    font-size: 14px;
}

.p_btn_search
{
    width: 120px;
    height: 30px;
    background: #0093ff;
    color: #fff;
    border:0px;
}
a
{
    cursor:pointer;
}