/* 闈㈠寘灞�*/
.bread {
    line-height: 45px;
    font-size: 14px;
}
/* 鍐呭閮ㄥ垎 */
.content .price_head {
    width: 100%;
    height: 80px;
}
.content .price_head .price_logo {
    height: 22px;
    line-height: 22px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
.content .price_head .price_logo i {
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    background: url("../../skuimage/comparePrice.png") 0 -103px;
    margin: -5px 10px 0;
}
.content .price_head .flow {
    width: 395px;
    height: 55px;
    background: url("../../skuimage/flow.png") no-repeat;
}
.content .price_head .flow.two {
    background-position: 0 -112px;
}
.content .price_head .flow.three {
    background-position: 0 -243px;
}
.content .success {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
}
.content .success i {
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 30px;
    background: url("../../skuimage/comparePrice.png") 0 -210px;
    margin: -2px 5px 0 0;
}
.content .success_btn {
    margin: 10px 0 10px 30px;
}
.content .success_btn a {
    float: left;
    width: 110px;
    height: 28px;
    line-height: 25px;
    text-align: center;
    font-size: 14px;
    background: #0093ff;
    color: #fff;
    margin-left: 10px;
    border: 1px solid #0093ff;
}
.content .success_btn a.buy_again {
    background: #fff;
    color: #333;
    border: 1px solid #ccc;
}
.content .info {
    font-size: 16px;
}
.content .info p {
    line-height: 40px;
    margin-left: 30px;
}
.content .info p span {
    float: left;
}
.content .info p em {
    margin-right: 45px;
}
.content .info p em i {
    font-size: 18px;
    font-weight: bold;
    color: #0093ff;
    margin: 0 5px;
}
.content .info p a {
    margin-right: 30px;
    color: #0093ff;
}
.content .note {
    color: #666;
    line-height: 30px;
    margin-left: 30px;
}
.content .balance {
    border: 2px solid #0093ff;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    margin-left: 30px;
}
.content .balance span {
    margin-right: 10px;
    color: #000;
}
.content .balance em {
    margin: 0 25px;
}
.content .balance em.mon {
    color: #666;
}
.content .balance em i {
    color: #0093ff;
}
.content s {
    display: inline-block;
    vertical-align: middle;
    width: 19px;
    height: 19px;
    background: url("../images/comparePrice.png") 0 -246px;
    margin: 0 15px;
    cursor: pointer;
}
.content s.on {
    background-position: -21px -246px;
}
.content .pay p {
    margin: 30px 0 0 40px;
    font-size: 14px;
}
.content .pay ul li {
    height: 90px;
    border-bottom: 1px solid #ccc;
    line-height: 90px;
}
.content .pay ul li s {
    margin-left: 60px;
}
.content .pay ul li img {
    display: inline-block;
    vertical-align: middle;
    width: 180px;
    height: 50px;
    margin-left: 30px;
}
.content .back {
    margin: 20px 0 200px 0;
    font-size: 16px;
    padding-left: 40px;
}
.content .back em {
    margin: 0 25px;
}
.content .back em i {
    color: #0093ff;
}
.content .back a {
    width: 200px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    background: #0093ff;
}